<ion-header>
  <ion-toolbar color='dark'>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<div class="content">

    <div class="circle">
      <div class="circle2"></div>
    </div>
  
      <form #formulario='ngForm'  (ngSubmit)='validarUsuarioss($event)'>
        <ion-card>
          <ion-list color='secondary'>

            <ion-item>
                <ion-icon slot="start" name="person"></ion-icon>
                <ion-input placeholder="Display name"
                        type='text'
                        name='usuario'
                        [(ngModel)]='usuario1'
                        required>
                </ion-input>              
            </ion-item>
      
            <ion-item>
                <ion-icon slot="start" name="lock"></ion-icon>
                <ion-input placeholder="Password" 
                            type='password'
                            name='pass'
                            [(ngModel)]='cedula1'
                            required>
                </ion-input>               
            </ion-item>
            
          </ion-list>
      
          <ion-button color='medium'  expand='full' type='submit'
                      [disabled]='formulario.invalid' #btn>
                      Ingresar
          </ion-button>
        </ion-card>
        
        <div class="footer">
          <p>Area de Ingenieria en Sistemas</p> 
        </div>

        
</form>
  
  
       
  
  
</div>
  