<ion-header>
  <ion-toolbar>
      <ion-buttons slot='start'>
          <ion-back-button defaultHref='/principal'></ion-back-button>
        </ion-buttons>
    <ion-title>Dia {{dia}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-item *ngIf='datos == 0' color='primary'>
      <ion-card-title text-center> No tienes horario asigmando para este dia </ion-card-title>
    </ion-item>
  </ion-card>

  <ion-card *ngFor='let d of datos'>
    
    <ion-item color='primary'>
        <ion-label text-capitalize text-center> {{d.nombre}} {{d.apellido}} </ion-label>
    </ion-item>

    <ion-card-content>
      <ion-card-subtitle><h4>Lapso Academico:  {{d.lapsoAcademico}}</h4> </ion-card-subtitle>
      <ion-row>
        <ion-col><ion-card-subtitle color='secondary'><h4> Materia: {{d.materia}} </h4></ion-card-subtitle>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size='6'><ion-card-subtitle>Sección: {{d.seccion}} </ion-card-subtitle></ion-col>
        <ion-col size='6'><ion-card-subtitle>Aula: {{d.nombreAula}} </ion-card-subtitle></ion-col>
        
      </ion-row>

      <ion-row color='secondary'>
          <ion-col size='6'><ion-card-subtitle color='dark'>Inicio: {{d.inicio}} </ion-card-subtitle></ion-col>
          <ion-col size='6'><ion-card-subtitle color='dark'>Fin: {{d.fin}} </ion-card-subtitle></ion-col>
      </ion-row>
      
    </ion-card-content>
  </ion-card>

</ion-content>
