<ion-header>
  <ion-toolbar color='toolbar'>
      <ion-buttons slot='start'>
          <ion-back-button defaultHref='/principal'></ion-back-button>
        </ion-buttons>
    <ion-title>Dia {{dia}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-item *ngIf='datos == 0' color='primary'>
      <ion-card-title text-center> No tienes horario asigmando para este dia </ion-card-title>
    </ion-item>
  </ion-card>

  <ion-grid *ngFor='let d of datos'>
    
    <ion-row>
      <ion-col class='col'><p style="text-align: center;"> {{d.materia}} </p></ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="spa"><p>Seccion: {{d.seccion}}</p></ion-col>
      <ion-col class="spa"><p>Aula: {{d.nombreAula}}</p></ion-col>
    </ion-row>
    <ion-row>
        <ion-col class="span"><span>Inico: {{d.inicio}}</span></ion-col>
        <ion-col class="span"><span>Fin: {{d.fin}}</span></ion-col>
      </ion-row>
  </ion-grid>

</ion-content>
