ion-content{
    --offset-top: 0px;
    --offset-bottom: 0px;
    --color: #FFF;
}

ion-item{
    //--background: rgb(57, 129, 212);
    margin: 3px;
    color: black;
    border-bottom-right-radius: 10px;
    border-bottom: 1px solid #242A34;
    text-align: center;
}

.id{
    background: rgb(13, 47, 87);
    color: white;
    height: 40px;
    border-radius: 10%;
    margin-right: 2px;
    //margin-left: -2px;
    text-align: center;
}