<ion-content>

    <ion-button (click)='salirSinArgumento()'color='primary' expand='full'>
       Salir
    </ion-button>

  <ion-card>

    <ion-row>
        <ion-col size='12'><h6 text-center>{{nombre}} {{apellido}}</h6></ion-col> 
    </ion-row>

    <ion-card-content>
      <ion-row>
          <ion-col size='12'><h6 text-center>Telefono: {{telefono}} | xxxxxxxxxxx</h6></ion-col> 
      </ion-row>
      <ion-row>
          <ion-col size='12'><h6 text-center>Email: {{email}} | xxxxxx@xxxxx.com</h6></ion-col> 
      </ion-row>
    </ion-card-content>

  </ion-card>

  <ion-grid *ngFor='let d of datos'>
    <ion-row>
      <ion-col class='col'><p style="text-align: center;">Dia {{d.dia}} </p></ion-col>
    </ion-row>
    <ion-row>
      <ion-col class='col'><p style="text-align: center;"> {{d.materia}} </p></ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="spa"><p>Seccion: {{d.seccion}}</p></ion-col>
      <ion-col class="spa"><p>Aula: {{d.nombreAula}}</p></ion-col>
    </ion-row>
    <ion-row>
        <ion-col class="span"><span>Inico: {{d.inicio}}</span></ion-col>
        <ion-col class="span"><span>Fin: {{d.fin}}</span></ion-col>
      </ion-row>
  </ion-grid> 
 

</ion-content>
